<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row my-4">
    <div class="col-12">
      <div class="jumbotron jumbotron-fluid">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');" style="margin-left: 25%;">
          <div class="flipper">
            <div class="front bg-light">
              <div class="row">
                <div class="col-12 py-4 text-center">
                  <h3>Ojas Patwardhan</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center">
                  <img src="./assets/IMG_4957.JPG" class="rounded-circle" style="width: 250px; height: 250px;" />
                </div>
              </div>
              <div class="row my-4">
                <div class="col-12 text-center">
                  <p>This project is a pathology lab website. Users can book an appointment as well as cancel/ reschedule it.</p>
                  <p>A technician can view a list of all the appointments booked with him/ her & cancel an appointment.</p>
                  <p>The admin can perform CRUD operations on appointments as well as users.</p>
                  <p>The external API's used were <b><a target="_blank" href="#">Onsched</a> & <a target="_blank" href="#">ApiMed</a></b></p>
                  <p>A user can also check for probable issues without logging in using the symptom checker</p>
                  <h5>Hover over me to see links</h5>
                </div>
              </div>
            </div>
            <div class="back bg-light">
              <div class="row my-2">
                <div class="col-12 text-center">
                  <h5>Assignments</h5>
                </div>
              </div>
              <div class="row my-2">
                <div class="col-12 text-center">
                  <ul class="list-group">
                    <li class="list-group-item"><a target="_blank" href="https://github.com/ojaspatwardhan/cs5610-summerfull-2018-pato/releases/tag/v1.0.1">Assignment - 1</a></li>
                    <li class="list-group-item"><a target="_blank" href="https://github.com/ojaspatwardhan/cs5610-summerfull-2018-react-app/releases/tag/v1.2">Assignment - 2</a></li>
                    <li class="list-group-item"><a target="_blank" href="https://github.com/ojaspatwardhan/cs5610-summerfull-2018-react-app">Assignment - 3</a></li>
                    <li class="list-group-item"><a target="_blank" href="https://github.com/ojaspatwardhan/React-Native">Assignment - 4</a></li>
                    <li class="list-group-item"><a target="_blank" href="https://github.com/ojaspatwardhan/StudentCourseEnrollment">Assignment - 5</a></li>
                    <hr class="my-2" />
                  </ul>
                </div>
              </div>
              <div class="row text-center my-2">
                <div class="col-12">
                  <h5>GitHub</h5>
                </div>
              </div>
              <div class="row text-center my-2">
                <div class="col-12">
                  <h5><a target="_blank" href="https://github.com/ojaspatwardhan">Ojas Patwardhan</a></h5>
                </div>
              </div>
              <div class="row text-center my-2">
                <div class="col-12">
                  <h5>Project</h5>
                </div>
              </div>
              <div class="row text-center my-2">
                <div class="col-12">
                  <h5><a target="_blank" href="https://lotus-lab.herokuapp.com/home">Lotus Lab</a></h5>
                </div>
              </div>
              <div class="row text-center my-2">
                <div class="col-12">
                  <h5>Video</h5>
                </div>
              </div>
              <div class="row text-center my-2">
                <div class="col-12">
                  <h5><a target="_blank" href="https://youtu.be/K23aTRcZnNw">Demo</a></h5>
                </div>
              </div>
              <div class="row text-center my-2">
                <div class="col-12">
                  <h5>API's</h5>
                </div>
              </div>
              <div class="row text-center my-2">
                <div class="col-6">
                  <h5><a target="_blank" href="https://apimedic.net/symptomchecker/log-in/?_redirected=yes">ApiMed</a></h5>
                </div>
                <div class="col-6">
                  <h5><a target="_blank" href="https://www.onsched.com//api/examples/">OnSched</a></h5>
                </div>
              </div>
              <div class="row text-center my-3">
                <div class="col-12">
                  <h4>Thank You.</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
